<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @products %>
<table class="pretty">
  <tr>
    <th><%= sortable "name"%></th>
    <th><%= sortable "status"%></th>
    <th><%= sortable "priority"%></th>
    <th><%= sortable "due_date"%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= task.due_date %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%=will_paginate @tasks%>