<div id="main_nav">
			<ul>
				<li id="overview"><%= link_to "Home", root_path%></li>
				<li id="phases"><%= link_to "Home", root_path%></li>
				<li id="people"><%= link_to "Home", root_path%></li>
				<li id="meetings"><%= link_to "Home", root_path%></li>
				<li id="tasks"><%= link_to "Home", root_path%></li>
				<li id="policies"><%= link_to "Home", root_path%></li>
				<li id="help"><%= link_to "Home", root_path%></li>
			</ul>
</div>